.headerhome {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://s1.1zoom.me/big3/132/Fitness_Dumbbells_Brown_haired_Uniform_Hands_576046_5120x2880.jpg');
    text-align: right;
    color: white;
    font-size: 30px;
    height: 600px;
}

.headerhomeCon {
    padding-right: 60px;
    padding-top: 400px;
}

.btnHeader {
    border: solid;
    color: #fff;
    border-radius: 5px;
    border-color: white;
    width: 180px;
    height: 60px;
    background-color: transparent;
    font-size: 18px;
}

    .btnHeader:hover {
        background-color: grey;
    }

.h1home {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
