/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

h2 {
    text-transform: uppercase;
    padding-top: 90px;
    font-family: 'Numans', sans-serif;
    font-size: 38px;
    text-align: center;
    font-weight: 500;
}

body {
    margin: 0px auto;
    margin-left: 0px;
    margin-right: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}
